.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(auto-fill);
  grid-gap: var(--spc-m);
}

@media (width <= 959px) {
  .cards > ul > li{
    grid-column: 1 / span all ;
  }
}

.cards > ul > li {
  border: 1px solid var(--clr-green);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: var(--spc-m);
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 3 / 1;
  object-fit: cover;
}

.cards .cards-card-body > p > strong {
  color: var(--clr-orange);
}
