.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  grid-gap: var(--spc-m);
}

@media (width >= 960px) {
  .cards > ul > li:first-of-type{
    grid-column: 1 / span 2;
  } 

  .cards > ul > li:last-of-type{
    grid-column: 1 / span 3;
  } 
}

.cards > ul > li {
  border: 1px solid var(--clr-green);
  background-color: var(--background-color)
}

.cards .cards-card-body {
  margin: var(--spc-m);
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
}

.cards .cards-card-body > p > strong {
  color: var(--clr-orange);
}
