.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  max-width: fit-content;
  margin: auto;
}

/* thirds variant */
.columns.thirds > div {
  display: flex;
}

.columns.thirds > div > div {
  grid-column: span 2;
}
  
.columns.thirds > div > div.columns-img-col,
.columns.thirds > div > div:not(.columns-img-col):first-child + div:not(.columns-img-col) {
    grid-column: span 1;
}

@media (width >= 792px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: var(--default-content-gap);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
  
  .columns.thirds > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}