main .hero-container > div {
  max-width: 100%;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  height: 420px;
}

.hero h1 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--default-content-gap);
  color: white;
  visibility: hidden;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  max-height: 420px;
}

.hero img {
  object-fit: cover;
  height: 420px;
  display: block;
  margin: auto;
}

@media (width <= 792px) {
  .hero img {
    display: none;
  }

  .hero {
    height: 0;
  }
}