.k-cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  grid-gap: var(--spc-m);
}

.k-cards > ul > li {
  border: 1px solid var(--clr-black);
  background-color: var(--background-color)
}

.k-cards .cards-card-body {
  margin: var(--spc-m);
}

.k-cards .cards-card-image {
  line-height: 0;

}

.k-cards .cards-card-body > *:first-child {
  margin-top: 0;
}

/* Container for skill bars */
.skills-container {
  box-sizing: border-box;
  width: 100%; 
  text-align: right;
  font-weight: 700;
  background-color: var(--clr-light-blue); 
  padding-top: var(--spc-xs); 
  padding-bottom: var(--spc-xs); 
  padding-right: var(--spc-s);
  color: var(--clr-white); 
}
