/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: var(--clr-light-blue);
  --link-hover-color: var(--clr-orange);
  --background-color: var(--clr-white);
  --light-color: var(--clr-lighter-blue);
  --dark-color: #ccc;
  --text-color: var(--clr-black);
  --clr-black: #0B0B0B;
  --clr-light-grey: #efefef;
  --clr-red: #C02042;
  --clr-light-red: #F9EAED;
  --clr-blue: #052B3E;
  --clr-light-blue: #1C76C4;
  --clr-lighter-blue: #eff8fc;
  --clr-green: #36964b;
  --clr-light-green: #F6FBF5;
  --clr-orange: #D94928;
  --clr-light-orange: #FBEAE6;
  --clr-white: #fff;
  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);

  /* fonts */
  --body-font-family: "futura-pt", sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: "futura-pt", sans-serif;

  /* body sizes */
  --body-font-size-xl: 2rem;  
  --body-font-size-l: 1.75rem;  
  --body-font-size-m: 1.5rem; 
  --body-font-size-s: 1rem; 
  --body-font-size-xs: .75rem; 

  /* heading sizes */
  --heading-font-size-xxl: 3rem;
  --heading-font-size-xl: 2.5rem;
  --heading-font-size-l: 2rem;   
  --heading-font-size-m: 1.75rem;    
  --heading-font-size-s: 1.5rem;   
  --heading-font-size-xs: 1.25rem; 

  /* misc. */
  --max-content-width: 80rem;      
  --default-content-gap: 48px;
  --spc-xl: var(--default-content-gap);
  --spc-l: 3rem; 
  --spc-m: 2rem; 
  --spc-s: 1rem; 
  --spc-xs: .5rem; 

  /* breakpoints */
  --breakpoint-xxl: 36rem; 
  --breakpoint-xl: 30rem;
  --breakpoint-l: 24rem;  
  --breakpoint-m: 18rem;  
  --breakpoint-s: 12rem;   
  --breakpoint-xs: 6rem; 

  /* nav height */
  --nav-height: auto;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
  font-display: swap;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  text-wrap: pretty;
  display: none;
} 

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--spc-s);
  margin-top: 0;
  scroll-margin: var(--spc-xl);
  text-wrap: balance;
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-l) }
h3 { font-size: var(--heading-font-size-s) }
h4 { font-size: var(--heading-font-size-xs) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 0;
  margin-bottom: var(--spc-m);
}

ul {
  list-style-type: disc;
  margin-left: var(--spc-xs);
  margin-bottom: var(--spc-m);
}

p:first-child {
  margin-top: 0;
}

p:last-child, ol:last-child {
  margin-bottom: -8px;
}

h1:only-child {
  margin-bottom: 0;
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
h2 a {
  color: var(--clr-black) !important;
  }

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: var(--spc-xs) var(--spc-m);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: var(--spc-xl);
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid var(--clr-orange);
  color: var(--clr-orange)
}

a.button.secondary:hover, button.secondary:hover {
  background-color: var(--clr-light-orange);
  border: 2px solid var(--clr-orange);
  color: var(--clr-orange)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */

main .section {
  padding: var(--spc-m);
}

@media (width >= 768px) {
  main .section {
    padding: var(--default-content-gap);
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: 1184px;
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

main .section.highlight-light-green {
  background-color: var(--clr-light-green);
}

main .section.highlight-light-grey-center {
  background-color: var(--clr-light-grey);
}

main .section.highlight-light-grey-center > div > p > picture > img {
  display: block;
  margin: auto;
}

main .section.highlight-red {
  background-color: var(--clr-red);
}

main .section.highlight-white-center {
  background-color: var(--clr-white);
}

main .section.highlight-white-center > div > p > picture > img {
  display: block;
  margin: auto;
}
